/* 预设样式，或者说样式初始化 */
body, p, ul, ol, dl, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, ol, dl, li {
	list-style: none;
}
input, button, textarea {
	border: none;
	outline: none;
	padding: 0;
}
img {
	vertical-align: middle;
}
body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('imgs/desk.jpg') no-repeat;
	background-size: cover;
	overflow: auto;
}
.clear {
	clear: both;
}

/* 页面样式 */
.header{
	font-size: 14px;
	margin-top: 20px;
}
.header, .header > div{
	display: inline-block;
	float: right;
}
.header > div, .header a {
	margin-right: 20px;
	cursor: pointer;
	color: #fff;
}
.header > div:hover, .header a:hover {
	color: #f0f;
}
.header a {
	font-weight: 700;
}
.main {
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
	background-color: transparent;
}
.main img {
	width: 200px;
	height: 200px;
}
.main .search-container {
	position: relative;
	width: 600px;
	height: 40px;
	margin: 20px auto;
}
.main .search-container input {
	width: 80%;
	height: 100%;
	border: 1px solid #ddd;
	border-right-color: rgba(51, 133, 255, .8);
	float: left;
	box-sizing: border-box;
	text-indent: 20px;
	background-color: transparent;
	color: #fff;
}
.main .search-container input::-webkit-input-placeholder {
	color: #fff;
}
.main .search-container input:focus {
	border: 1px solid #3385ff;
	border-right-color: rgba(51, 133, 255, .8);
}
.main .search-container button {
	width: 20%;
	height: 100%;
	float: right;
	background-color: rgba(51, 133, 255, .8);
	color: #ffff;
}
.main .search-container button:hover {
	opacity: 0.8;
	cursor: pointer;
}
.search-container .search-list {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	/* border: 1px solid #ddd; */
	border: 1px solid #3385ff;
	box-sizing: border-box;
	border-top: none;
	text-align: left;
	font-size: 14px;
	color: #3385ff;
	line-height: 25px;
	/*opacity: 0;*/
	display: none;
	z-index: 10;
}
.search-container .search-list a{
	display: inline-block;
	padding-left: 20px;
	width: 100%;
	font-size: 14px;
	color: #3385ff;
	text-decoration: none;
	box-sizing: border-box;
}
.search-container .search-list a:hover{
	cursor: pointer;
	background-color: #eee;
}
.active {
	cursor: pointer;
	background-color: #eee;
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: transparent;
}
.footer img {
	width: 100px;
	height: 100px;
}
.footer .qrcode-text {
	font-weight: bold;
	margin: 5px auto 20px;
}
.footer > div a{
	color: #fff;
}
.footer .about a{
	margin-right: 20px;
}
.footer .about a:last-child {
	margin-right: 0;
}
.footer .guide {
	color: #fff;
	margin: 10px auto 20px;
	/* text-shadow: 5px 5px 5px #FF0000; */
}
.footer .guide .vsion-power {
	font-weight: bold;
	text-shadow: 0px 5px 5px #0f0;
}